/* Global styles
================================================== */

a {
	color: #6ebf4e;
}

a.read-more:hover {
	color: #327cbc;
}

/* Typography
================================================== */

.btn.btn-primary {
	border: 2px solid #6ebf4e;
}

.btn.btn-primary:hover {
	background: #6ebf4e;
}

.btn.btn-primary.solid {
	background: #6ebf4e;
}

ul.circle li:before {
	color: #6ebf4e;
}

ul.check-list li i {
	color: #6ebf4e;
}

blockquote {
	border-left: 5px solid #6ebf4e;
}

/* Common styles
================================================== */

.heading:hover .title-icon {
	color: #6ebf4e;
}

h2.entry-title a:hover {
	color: #6ebf4e;
}

/* Icon pentagon */

.icon-pentagon {
	background: none repeat scroll 0 0 #6ebf4e;
}

.icon-pentagon:before {
	border-bottom: 10px solid #6ebf4e;
}

.icon-pentagon:after {
	border-top: 10px solid #6ebf4e;
}

.service-icon:before {
	border-bottom: 30px solid #6ebf4e;
}

.service-icon:after {
	border-top: 30px solid #6ebf4e;
}

/* Carousel controller */

.ts-carousel-controller .left:hover,
.ts-carousel-controller .right:hover,
.owl-controls .owl-prev:hover,
.owl-controls .owl-next:hover {
	background: #6ebf4e;
}

/* Input form */

.form-control:focus {
	border: 1px solid #6ebf4e !important;
}

/* Flex Slider */

.portfolio-slider .flex-direction-nav a:hover,
.ts-flex-slider .flex-direction-nav a:hover {
	background: #6ebf4e;
}

/* Pagination */
.pagination .page-link {
	color: #6ebf4e;
}

.pagination .page-item.active .page-link,
.pagination .page-item:hover .page-link {
	background: #6ebf4e;
	border-color: #6ebf4e;
}

/* Header area
================================================== */

/*-- Header --*/
.header {
	/* border-top: 5px solid #6EBF4E; */
}

.header-solid ul.navbar-nav > li:hover > a,
.header-solid ul.navbar-nav > li.active > a {
	color: #6ebf4e;
}

/*-- Logo --*/

.navbar-brand {
	background: #6ebf4e;
}

/*-- Main navigation --*/

.nav-item.active {
	color: #6ebf4e;
}

.nav-link:hover,
.dropdown-item:hover {
	color: #6ebf4e !important;
}

/* Header area - 2
================================================== */

/*-- Header bgnone fixed --*/

.header-bgnone {
	background: #6ebf4e;
}

/* Slideshow
================================================== */

/*-- Main slide --*/

#main-slide .carousel-indicators li.active,
#main-slide .carousel-indicators li:hover {
	background-color: #6ebf4e;
}

#main-slide .carousel-control i:hover {
	background: #6ebf4e;
}

/* Image Block
================================================== */

.image-block-content .feature-icon {
	background: #6ebf4e;
}

/* Portfolio
================================================== */

.isotope-nav ul li a {
	border: 1px solid #6ebf4e;
}

.isotope-nav ul a.active,
.isotope-nav ul a:hover {
	background: #6ebf4e;
}

.isotope-nav ul a.active:after,
.isotope-nav ul a:hover:after {
	border-color: #6ebf4e rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

/* Feature box
================================================== */
.feature-icon {
	color: #6ebf4e;
}

.feature-center-icon {
	color: #6ebf4e;
}

/* About us
================================================== */

/* Featured Tab */

.featured-tab .nav-link.active {
	background: #6ebf4e;
}

.featured-tab .nav-link.active::before {
	border-left-color: #6ebf4e;
}

.featured-tab .nav-link:hover {
	background: #6ebf4e;
	color: #fff !important;
}
.featured-tab .nav-link:hover:before {
	border-left-color: #6ebf4e;
}

/* Pricing table
================================================== */

.plan.featured .plan-price {
	background: #6ebf4e;
}
.plan.featured .plan-price:after {
	border-top-color: #6ebf4e;
}

/* Testimonial
================================================== */

.testimonial-slide .testimonial-text:before {
	color: #6ebf4e;
}

.testimonial-slide .testimonial-text:after {
	color: #6ebf4e;
}

.testimonial-slide.owl-theme .owl-controls .owl-page.active span {
	background: #6ebf4e;
}

/* Recent Post
================================================== */

.post-img-overlay a:hover {
	background: #6ebf4e;
}

/* Footer
================================================== */

.copyright-info a:hover {
	color: #6ebf4e;
}

.footer2 .copyright-info a {
	color: #6ebf4e;
}

#back-to-top .btn.btn-primary:hover {
	background: #6ebf4e;
}

.footer-about-us h4 {
	color: #6ebf4e;
}

.footer-widget .latest-post-content h4 a:hover {
	color: #6ebf4e;
}

.subscribe button {
	background: #6ebf4e;
}

/* Blog Item page
================================================== */

.post-meta a:hover {
	color: #6ebf4e;
}

.author-url span a:hover {
	color: #6ebf4e;
}

.comments-counter a:hover {
	color: #6ebf4e;
}

.comments-list .comment-reply:hover {
	color: #6ebf4e;
}

/*-- Blog sidebar --*/

.widget-tab h4.entry-title a:hover {
	color: #6ebf4e;
}

.widget-tags ul > li a:hover {
	background: #6ebf4e;
}

/* Landing page
================================================== */

.landing-header.header-bgnone ul.navbar-nav > li:hover > a,
.landing-header.header-bgnone ul.navbar-nav > li.active > a {
	color: #6ebf4e;
}

.features-content .features-icon {
	color: #6ebf4e;
}

.landing_facts {
	background: #6ebf4e;
}

.landing-tab .nav-link.active i {
	color: #6ebf4e;
}

.landing-tab .nav-link::before {
	background: #6ebf4e;
}

.landing-tab .nav-link:hover i {
	color: #6ebf4e !important;
}

.text-primary {
	color: #6ebf4e !important;
}

.app-gallery.owl-theme .owl-controls .owl-page.active span {
	background: #6ebf4e;
}

.landing_page_clients {
	background: #6ebf4e;
}

/* Misc */

.title-border {
	border-bottom: 2px solid #6ebf4e;
}

.post-title a:hover {
	color: #6ebf4e;
}

.portfolio-static-desc a:hover {
	color: #6ebf4e;
}

.client-carousel .item a:hover {
	border: 1px solid #6ebf4e;
}

.footer ul li a:hover {
	color: #6ebf4e;
}

.call-to-action {
	background: #6ebf4e;
}

.blog-date {
	background: #6ebf4e;
}

.widget-categories ul.category-list li a:hover {
	color: #6ebf4e;
}

.about-message ul li a:hover {
	color: #6ebf4e;
}
